<!DOCTYPE html>
<html  ng-app="endireitados">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Endireitados Teste API</title>
	<script src="angular\angular.js"></script>
	<!-- <script src="angular/angular.js"></script> -->
	<script src="app.js"></script>
</head>
<body ng-controller="ApiCtrl">
	<label>Pegar 20 perguntas</label>
	</br>
	<button ng-click="getPerguntas()">Send</button>
	</br>
	<span>Perguntas: {{perguntas}}</span>

	</br></br></br>

	<label>Atualizar historico</label>
	</br>
	<button ng-click="updateHistoricoPerguntas()">Update varias</button>	
	</br>
	<span>Responsta atualizar historico: {{retHistorico}}</span>

	</br></br></br>
	<label>Pegar os dados do Usuario</label>
	</br>
	<input ng-model="token">
	</br>
	<button ng-click="getUsuario(token)">Send</button>
	</br>
	<span>Usuário: {{usuario}}</span>
	
	</br></br></br>

	<label>Cadatro de Usuario</label>
	</br>
	<input placeholder="cidade" ng-model="novoUsuario.cidade">
	</br>
	<input placeholder="email" ng-model="novoUsuario.email">
	</br>
	<input placeholder="estado" ng-model="novoUsuario.estado">
	</br>
	<input placeholder="nome" ng-model="novoUsuario.nome">
	</br>
	<input placeholder="senha" ng-model="novoUsuario.senha">
	</br>

	<button ng-click="cadastroUsuario(novoUsuario)">Send</button>
	</br>
	<span>Token: {{tokenNovo}}</span>

	
	</br></br></br>
	<label>Dados Fases</label>
	</br>
	<input ng-model="codUsuario"/>
	</br>
	<button ng-click="dadosFase(codUsuario)">Send</button>
	</br>
	<span>Fase: {{dadosFase}}</span>	
	
	</br></br></br>
	
	<label>Post Dados Fases</label>
	</br>
	<textarea rows="4" cols="50" ng-model="fase"></textarea
	</br>
	<button ng-click="salvaFase(fase)">Send</button>
	</br>
	<span>Fase: {{fase}}</span>

	</br></br></br>

	<label>Login de Usuario</label>
	</br>
	<input placeholder="email" ng-model="login.email">
	</br>
	<input placeholder="senha" ng-model="login.senha">
	</br>

	<button ng-click="loginUsuario(login)">Send</button>
	</br>
	<span>Token: {{tokenvalido}}</span>

	</br></br></br>

	<label>Logout de Usuario</label>
	</br>
	<input ng-model="token">
	</br>

	<button ng-click="logoutUsuario(token)">Send</button>
	</br>
	<span>Mensagem: {{msgRetorno}}</span>

	</br></br></br>

	
	<button ng-click="salvaPerguntaJogadas()">Salva Perguntas</button>
	</br>
	<span>Mensagem: {{msgRetorno}}</span>

	</br></br></br>
	
	<div ng-show="msg">
	<h2>Retorno de erro</h2>
		{{msg}}
	</div>
	
	<label>Recuperar senha</label>
	</br>
	<input ng-model="email">
	</br>

	<button ng-click="recuperarSenha(email)">Send</button>
	</br>
	<span>Mensagem: {{msgRetorno}}</span>



	</br></br></br>
	<label>Finaliza jogo</label>
	</br>
	<input ng-model="token_finalizar">
	<button ng-click="finalizarJogo(token_finalizar)">Finalizar Jogo</button>
	</br>
	<span>Mensagem: {{retFinalizarJogo}}</span>

	</br></br></br>
	
	<div ng-show="msg">
	<h2>Retorno de erro</h2>
		{{msg}}
	</div>


	</br></br></br>
	<label>Get conquistas</label>
	</br>
	<button ng-click="getConquistas(token_finalizar)">Finalizar Jogo</button>
	</br>
	<span>Mensagem: {{retConquistas}}</span>

	</br></br></br>
	
	<div ng-show="msg">
	<h2>Retorno de erro</h2>
		{{msg}}
	</div>

</body>
</html>
