
<div class="bar cabecalho">
  <button menu-toggle="left" class="button button-icon ion-navicon">
  </button>
</div>
<ion-view class="corpo">
  <ion-content class="has-header corpo">
    <h2 class="title">Fases </h2>
    <p class="texto">Selecione a fase <strong>desbloqueada</strong> para iniciar o nível</p>
    <div class="box-fases">
        <div ng-repeat="fase in dadosFases">
            <a ng-if="fase.status == 'play' || fase.status == 'block'" ng-href="#/app/jogo/fase/{{fase.codigo}}">
              <div ng-class="{'play': fase.status == 'play','block': fase.status == 'block' }">
                  <img class="faseimglogo" ng-src="img\fase-logo{{fase.codigo}}.png">
                  <img class="faseimgtexto" ng-src="img\fase{{fase.codigo}}-texto.png">
                  <img class="faseimgstars" ng-src="img\fases-{{3-fase.chances}}estrelas.png">
                  <img ng-if="fase.status == 'play' && !jogoAtual" class="botao" ng-src="img\botao-jogar.png">
                  <img ng-if="fase.status == 'play' && jogoAtual" class="botao" ng-src="img\botao-continuar.png">
                  <img ng-if="fase.status == 'block'" class="botao" ng-src="img\botao-block.png">
              </div>
            </a>
            <div ng-if="fase.status == 'played'" class="played">
                <img class="faseimglogo" ng-src="img\fase-logo{{fase.codigo}}.png">
                <img class="faseimgtexto" ng-src="img\fase{{fase.codigo}}-texto.png">
                <img class="faseimgstars" ng-src="img\fases-{{3-fase.chances}}estrelas.png">
                <img class="faseimgnumber1" ng-hide="fase.pontos.toString().substr(0,1) =='' || fase.status != 'played'" ng-src="img\{{fase.pontos.toString().substr(0,1)}}.png">
                <img class="faseimgnumber2" ng-hide="fase.pontos.toString().substr(1,1) =='' || fase.status != 'played'" ng-src="img\{{fase.pontos.toString().substr(1,1)}}.png">
                <img class="faseimgnumber2" ng-hide="fase.pontos.toString().substr(2,1) =='' || fase.status != 'played'" ng-src="img\{{fase.pontos.toString().substr(2,1)}}.png">    
            </div>       
        </div>
    </div>
  </ion-content>
</ion-view>
                                 