<div class="bar cabecalho">
  <button menu-toggle="left" class="button button-icon icon ion-navicon">
  </button>
</div>
<ion-view class="corpo">
  <ion-content class="has-header corpo">
    <h2 class="title">Parabéns </h2>
    <p class="texto">Voce venceu esse jogo ... <strong>Veja sua conquista</strong>
    <div class="box-fases">
          <img ng-show="conquista.area == 'Ética Profissional'" ng-src="img\conquistas\etica_profissional.png">
          <img ng-show="conquista.area == 'Civil'" ng-src="img\conquistas\civil.png">
          <img ng-show="conquista.area == 'Processo Civil'" ng-src="img\conquistas\processocivil.png">
          <img ng-show="conquista.area == 'Trabalho'" ng-src="img\conquistas\trabalho.png">
          <img ng-show="conquista.area == 'Processo Trabalho'" ng-src="img\conquistas\processo_trabalho.png">
          <img ng-show="conquista.area == 'Penal'" ng-src="img\conquistas\penal.png">
          <img ng-show="conquista.area == 'Processo Penal'" ng-src="img\conquistas\processo_penal.png">
          <img ng-show="conquista.area == 'Constitucional'" ng-src="img\conquistas\constitucional.png">
          <img ng-show="conquista.area == 'Administrativo'" ng-src="img\conquistas\administrativo.png">
          <img ng-show="conquista.area == 'Empresarial'" ng-src="img\conquistas\empresarial.png">
          <img ng-show="conquista.area == 'Tributário'" ng-src="img\conquistas\tributario.png">
          <img ng-show="conquista.area == 'Direitos Humanos'" ng-src="img\conquistas\direitos_humanos.png">
          <img ng-show="conquista.area == 'Internacional'" ng-src="img\conquistas\internacional.png">
          <img ng-show="conquista.area == 'ECA'" ng-src="img\conquistas\eca.png">
          <img ng-show="conquista.area == 'Ambiental'" ng-src="img\conquistas\ambiental.png">
          <img ng-show="conquista.area == 'CDC'" ng-src="img\conquistas\consumidor.png">
          <img ng-show="conquista.area == 'Filosofia do Direito'" ng-src="img\conquistas\filosofia.png">
          <p class="texto"><a href="#/fases" class="button button-outline button-positive">Inciar novo jogo<a></p>
    </div>
  </ion-content>
</ion-view>