<div class="bar login-titulo">
</div>
<ion-view class="corpo">
  <ion-content class="has-header corpo">
    <div class="box-login">
      <img src="img\logo.png">
      <div class="list">
        <label class="item item-input box-login-input">
          <input type="text"  placeholder="e-mail" ng-model="login.email">
        </label>
        <label class="item item-input box-login-input">
          <input type="password" placeholder="senha" ng-model="login.senha">
        </label>
        <button class="button icon-right ion-chevron-right button-calm login-botao" ng-click="doLogin(login)">Entrar</button>
        <p class="texto"><a href="#/cadastro" class="button button-block button-small button-calm">Cadastrar um novo usuário<a></p>
        <p class="texto"><a href="#/recuperasenha" class="button button-clear button-positive">Esqueci minha senha<a></p>
       
        <!-- <p class="texto">Esqueceu a senha? <a href="#/app/login"> Clique aqui<a></p>-->
        <div class="texto error" ng-show="msgErro">{{msgErro}}</div>
        <!--
        <div class="redes-sociais-login">          
          <a class="button icon-left ion-social-facebook button-positive login-botao">Facebook</a>
          <a class="button icon-left ion-social-google button-assertive login-botao">Google</a>
        </div>
        -->
      </div>
    </div>
  </ion-content>
</ion-view>