<div class="bar login-titulo">
</div>
<ion-view class="corpo">
  <ion-content class="has-header corpo">
    <div class="box-login">
      <img src="img\logo.png">
      <p class="texto">A senha será enviado para seu <strong>e-mail</strong></p>
      <div class="list">
        <label class="item item-input box-login-input">
          <input type="text"  placeholder="e-mail" ng-model="email">
        </label>
        <button class="button icon-right ion-chevron-right button-calm login-botao" ng-click="recuperaSenha(email)">Enviar Senha</button>
        <p class="texto"><a href="#/app/fases" class="button button-outline button-positive">Retornar ao Jogo<a></p>
        <!-- <p class="texto">Esqueceu a senha? <a href="#/app/login"> Clique aqui<a></p>-->
        <div class="texto error" ng-show="msgErro">{{msgErro}}</div>
        <div class="texto" ng-show="msg">
          <p class="texto">{{msg.message}}</p>
           <p class="texto"><a href="#/login" class="button button-outline button-positive">Fazer Login<a></p>
        </div>
        <!--
        <div class="redes-sociais-login">          
          <a class="button icon-left ion-social-facebook button-positive login-botao">Facebook</a>
          <a class="button icon-left ion-social-google button-assertive login-botao">Google</a>
        </div>
        -->
      </div>
    </div>
  </ion-content>
</ion-view>