<div nf-if="emailUsuario"  class="box-login conteudo-resposta texto">
	<video 
	 	 overflow-scroll="true"
		 id="videoframe"
		 controls="controls" 
		 preload="auto" 
		 webkit-playsinline="webkit-playsinline" 
		 class="videoPlayer"
		 ng-src="{{videoLink | trusted}}"
		 autobuffer
		 autoplay
		 poster="img\cover-video.png">
 	</video>
	<button ng-click="modal.hide()" class="button button-positive">Fechar Video</button>
</div>