<div class="bar cabecalho">
  <button menu-toggle="left" class="button button-icon icon ion-navicon">
  </button>
</div>
<ion-view class="corpo">
  <ion-content class="has-header corpo">
    <h2 class="title">Conquistas </h2>
    <p class="texto">As conquistas representam o que você foi melhor em cada <strong>Jogo</strong>
    <div class="box-fases">
       <div class="conquista"  ng-repeat="conquistas in conquista"> 
            <img ng-show="conquistas.area == 'Ética Profissional'" ng-src="img\conquistas\etica_profissional.png">
            <img ng-show="conquistas.area == 'Civil'" ng-src="img\conquistas\civil.png">
            <img ng-show="conquistas.area == 'Processo Civil'" ng-src="img\conquistas\processocivil.png">
            <img ng-show="conquistas.area == 'Trabalho'" ng-src="img\conquistas\trabalho.png">
            <img ng-show="conquistas.area == 'Processo Trabalho'" ng-src="img\conquistas\processo_trabalho.png">
            <img ng-show="conquistas.area == 'Penal'" ng-src="img\conquistas\penal.png">
            <img ng-show="conquistas.area == 'Processo Penal'" ng-src="img\conquistas\processo_penal.png">
            <img ng-show="conquistas.area == 'Constitucional'" ng-src="img\conquistas\constitucional.png">
            <img ng-show="conquistas.area == 'Administrativo'" ng-src="img\conquistas\administrativo.png">
            <img ng-show="conquistas.area == 'Empresarial'" ng-src="img\conquistas\empresarial.png">
            <img ng-show="conquistas.area == 'Tributário'" ng-src="img\conquistas\tributario.png">
            <img ng-show="conquistas.area == 'Direitos Humanos'" ng-src="img\conquistas\direitos_humanos.png">
            <img ng-show="conquistas.area == 'Internacional'" ng-src="img\conquistas\internacional.png">
            <img ng-show="conquistas.area == 'ECA'" ng-src="img\conquistas\eca.png">
            <img ng-show="conquistas.area == 'Ambiental'" ng-src="img\conquistas\ambiental.png">
            <img ng-show="conquistas.area == 'CDC'" ng-src="img\conquistas\consumidor.png">
            <img ng-show="conquistas.area == 'Filosofia do Direito'" ng-src="img\conquistas\filosofia.png">
        </div>
    </div>
  </ion-content>
</ion-view>