<div class="bar cabecalho">
</div>
<ion-view class="corpo">
  	<ion-content class="has-header conteudo-titulo cloud">
	  	<ion-slide-box on-slide-changed="slideHasChanged($index)">
		  <ion-slide>
		    <div class="box"><img src="img\abertura1.png"></div>
		   
		  </ion-slide>
		  <ion-slide>
		    <div class="box"><img src="img\abertura2.png"></div>
		    
		  </ion-slide>
		  <ion-slide>
		    <div class="box"><img src="img\abertura3.png"></div>
		  </ion-slide>
	      <ion-slide>
		    <div class="box"><img src="img\abertura4.png"></div>
		  </ion-slide>
		</ion-slide-box>
		<p class="texto"><a href="#/app/fases" class="button button-block button-small button-calm">COMEÇAR A JOGAR AGORA<a></p>
		<br>
		<p class="texto"><a href="#/login" class="button button-clear button-positive">JÁ TENHO UMA CONTA<a></p>	
  	</ion-content>
</ion-view>