<div class="bar cabecalho">
  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</div>
<ion-view class="corpo">
	<div class="conteudo-titulo">
			<img class="logo-simulado" ng-src="img\fase-logo{{dadosJogo.fase}}.png">
			<img class="titulo-simulado" ng-src="img\fase{{dadosJogo.fase}}-texto-simulado.png">
			<img ng-repeat="n in [] | range:dadosJogo.respostasErradas" class="vida-simulado" ng-src="img\vida-perdida.png">
			<img ng-repeat="n in [] | range:dadosJogo.vidas" class="vida-simulado" ng-src="img\vida.png">
			<img class="questao-simulado" src="img\pergunta{{dadosJogo.perguntaAtual + 1}}.png">
	</div>	
	<ion-content class="corpo-perguntas">
		<div class="box-pergunta">
			<div class="conteudo-pergunta">
				<p>
					{{perguntas[dadosJogo.perguntaAtual].pergunta}}
				</p>
			</div>
			<div class="relogio-simulado">
				<img ng-src="img\relogio.png">
				<span>{{cronometro}}'</span>
			</div>
		</div>
		<div class="box-resposta">
			<div class="conteudo-resposta">
			   <ul>
					<li ng-if="errada == null && correta == null" ng-repeat="n in [] | range:4" ng-class="{ 'selecionado': selectedIndex == n}" ng-click="itemClicked(n)">		 
						<div class="escolha-simulado" >
							<img ng-src="img\letra{{n}}.png">
						</div>
						<p ng-if="n == 0">{{perguntas[dadosJogo.perguntaAtual].resposta1}}</p>
						<p ng-if="n == 1">{{perguntas[dadosJogo.perguntaAtual].resposta2}}</p>
						<p ng-if="n == 2">{{perguntas[dadosJogo.perguntaAtual].resposta3}}</p>
						<p ng-if="n == 3">{{perguntas[dadosJogo.perguntaAtual].resposta4}}</p>
					</li>
					<li ng-if="errada !=null || correta !=null" ng-repeat="n in [] | range:4" ng-class="{'errada': $index == errada, 'correta': $index == correta }">		 
						<div class="escolha-simulado" >
							<img ng-src="img\letra{{$index}}.png">
						</div>
						<p ng-if="n == 0">{{perguntas[dadosJogo.perguntaAtual].resposta1}}</p>
						<p ng-if="n == 1">{{perguntas[dadosJogo.perguntaAtual].resposta2}}</p>
						<p ng-if="n == 2">{{perguntas[dadosJogo.perguntaAtual].resposta3}}</p>
						<p ng-if="n == 3">{{perguntas[dadosJogo.perguntaAtual].resposta4}}</p>
					</li>
			    </ul>
			</div>
			<div class="conteudo-resposta">
				<img ng-show="msg == 'correta'" ng-src="img\msg-acertou.png" class="msg-resposta"/>
				<img ng-show="msg == 'errada' && !msgTempo" ng-src="img\msg-errou.png" class="msg-resposta"/>
				<img ng-show="msg == 'errada' && msgTempo" ng-src="img\msg-tempo.png" class="msg-resposta"/>
			</div>
			<div class="conteudo-resposta texto">
				<button ng-disabled="selectedIndex == null" ng-hide="correta !=null || errada != null " class="button button-full button-small botao-avancar" ng-click="verificaResposta($index)">
 					<span class="font14">Confira o Resultado</span>
 				</button>
				<button ng-click="openVideo(perguntas[dadosJogo.perguntaAtual].url)" ng-show="errada && emailUsuario &&perguntas[dadosJogo.perguntaAtual].url != ''" class="button button-outline button-positive">
					<span>Assista ao Vídeo</span> <ion class="ion-videocamera"/>
				</button>
				<a href="#/cadastro" ng-show="errada && !emailUsuario &&perguntas[dadosJogo.perguntaAtual].url != ''" class="button button-clear button-positive">
					<span>Habilite seu perfil para assistir aos videos</span> <ion class="ion-videocamera"/>
				</a>
				<button ng-show="errada !=null || correta !=null" class="button button-full botao-avancar" ng-click="avancar()">
					<span>Avançar</span> <ion class="ion-ios7-arrow-right"/>
				</button>			
			</div>
		</div>
  </ion-content>
</ion-view>

<script id="video.html" type="text/ng-template">
    <div class="box-login conteudo-resposta texto">
	<video 
	 	 overflow-scroll="true"
		 id="videoframe"
		 controls="controls" 
		 preload="auto" 
		 webkit-playsinline="webkit-playsinline" 
		 class="videoPlayer"
		 ng-src="{{videoLink | trusted}}"
		 autobuffer
		 autoplay
		 poster="img\cover-video.png">
 	</video>
	<button ng-click="modal.remove()" class="button button-positive">Fechar Video</button>
	</div>
</script>