<ion-side-menus>
  <ion-pane ion-side-menu-content>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>    
    <ion-side-menu side="left" ng-show="session = true">
      <header class="bar titulo-menu">
      </header>
      <ion-content class="has-header">
        <ion-list>
          <img ng-src="img\logo.png">
          <a class="item item-icon-left menu" menu-close href="#/app/conta">
            <i class="icon ion-person"></i>
           Conta
          </a>
          <a class="item item-icon-left menu" menu-close href="#/app/fases">
            <i class="icon ion-game-controller-b"></i>
           Fases
          </a>
          <a class="item item-icon-left menu" menu-close href="#/app/conquistas">
            <i class="icon ion-trophy"></i>
           Conquistas
          </a>
          <a class="item item-icon-left menu" menu-close href="#/logout">
            <i class="icon ion-power"></i>
           Sair
          </a>
          <!--
          <ion-item nav-clear menu-close href="#/app/ranking">
            Ranking
          </ion-item>
          -->
        </ion-list>
      </ion-content>
    </ion-side-menu>
</ion-side-menus>
