<div class="bar cabecalho">
  <button menu-toggle="left" class="button button-icon icon ion-navicon">
  </button>
</div>
<ion-view class="corpo">
  	<ion-content class="has-header corpo">
	    <h2 class="title"> Ranking </h2>
	    <div class="box-fases">
	  		<div class=" ranking">
			    <a class="item item-avatar">
			      <img src="img\ranking_foto.png">
			      <h2>1°</h2>
			      <strong>Rangel Torrezan</strong>
			      <p>1230 pontos</p>
			    </a>
		     	<a class="item item-avatar">
			      <img src="img\ranking_foto.png">
			      <h2>2°</h2>
			      <strong>Anderson Nazário</strong>
			      <p>1210 pontos</p>
			    </a>
    		    <a class="item item-avatar">
			      <img src="img\ranking_foto.png">
			      <h2>1°</h2>
			      <strong>Rangel Torrezan</strong>
			      <p>1230 pontos</p>
			    </a>
		     	<a class="item item-avatar">
			      <img src="img\ranking_foto.png">
			      <h2>2°</h2>
			      <strong>Anderson Nazário</strong>
			      <p>1210 pontos</p>
			    </a>
    		    <a class="item item-avatar">
			      <img src="img\ranking_foto.png">
			      <h2>1°</h2>
			      <strong>Rangel Torrezan</strong>
			      <p>1230 pontos</p>
			    </a>
		     	<a class="item item-avatar">
			      <img src="img\ranking_foto.png">
			      <h2>2°</h2>
			      <strong>Anderson Nazário</strong>
			      <p>1210 pontos</p>
			    </a>
	        	
			</div>
	    </div>
  	</ion-content>
	<div class="bar bar-footer bar-calm ranking">
	    <a class="item item-avatar">
	      <img src="img\ranking_foto.png">
	      <h2>1°</h2>
	      <strong>Rangel Torrezan</strong>
	      <p>1230 pontos</p>
	    </a>
	</div>
</ion-view>