.cabecalho{
	background: url('../img/head_logo_shadow.png') center no-repeat;
	background-color: #0099ff;
	background-size: contain;
}

.videoPlayer{
	margin-top: 20%;
	max-width: 575px;
	width: 100%;
}

.menu img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 50%;
}

.menu a{
	color: #0099ff;
	font-family: UbuntuLight;
}

.item {
	border: none;
}

.titulo-menu{
	background-color: #0099ff;

}


.cloud{
	background: url('../img/cloud.gif') center no-repeat;
	background-size: contain;
}


.box-login{
	max-width: 595px;
	margin: auto;
}

.box-login img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 50%;
}

.box-login-input{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	display: block;
	border-radius: 4px;
	background: rgba(226,226,226,1);
	background: -moz-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(226,226,226,1) 25%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 99%, rgba(254,254,254,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(25%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(99%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
	background: -webkit-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(226,226,226,1) 25%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 99%, rgba(254,254,254,1) 100%);
	background: -o-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(226,226,226,1) 25%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 99%, rgba(254,254,254,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(226,226,226,1) 25%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 99%, rgba(254,254,254,1) 100%);
	background: linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(226,226,226,1) 25%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 99%, rgba(254,254,254,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
	
}

.login-titulo{
	background: url('../img/bg-login.png') center no-repeat;
	background-color: #41b2d4;
	background-size: contain;
}

.login-botao{
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 10%;
	width: 90%;
}

.login-cadastro{
	background: url('../img/bg-cadastro.png') center no-repeat;
	background-color: #41b2d4;
	background-size: contain;
}

.redes-sociais-login{
	margin-top: 15%;
}
.corpo{
	background: url('../img/head_shadow.png') center no-repeat;
	background-position: top;
	background-color: #e9eaed;
}

.title {
	color: #0099ff;
	font-family: UbuntuLight;
	font-size: 30px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}

.texto{
	color: #666666;
	font-family: UbuntuLight;
	font-size: 15px;
	margin: 0 15% 0 15%;
	text-align: center;
}

.correta{
	background-color: #beecc3;
}

.errada{
	background-color: #ff92a4;
}

.resposta{
	background-color: #ff001e;
}

.played{
	background: url('../img/bg-fases-played.png') no-repeat;
	background-size: contain;
	max-width: 595px;
	margin: 0 auto;
}

.play{
	background: url('../img/bg-fases-play.png') no-repeat;
	background-size: contain;
	max-width: 595px;
	margin: 0 auto;
}

.block{
	background: url('../img/bg-fases-block.png') no-repeat;
	background-size: contain;
	max-width: 595px;
	margin: 0 auto;
}

.progressbar{
	width: 4.5%;
	float: right;
	margin-top: -1%;
}


.faseimglogo{
	width: 17%;
	margin-left: 1.9%;
	margin-bottom: 9%;
}

.conquista img{
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.faseimgtexto{
	width: 35%;
	margin-left:2%;
	margin-bottom: 3%;
}
.faseimgstars{
	width: 6%;
	margin-bottom: 3%;
	margin-left: 2%;
	padding: 0px;
}

.fasepontos{
	margin-right: 9%;
	float: right;
	margin-top: -4%;
}

.fasepontos img {
	width: 20%;
}


.faseimgnumber1{
	width: 5%;
	margin-left: 5%;
	height: auto;
	padding: 0 !important;
}

.faseimgnumber2{
	width: 5%;
	height: auto;
	padding: 0px;
}

.progressbar{
	width: 4.5%;
	float: right;
	margin-top: -1%;
}

.botao{
	width: 26%;
	margin-bottom: 5%;
	margin-left: 0.5%;
}

.box-titulo{
	margin: 1%;
	padding:0;
}

.box-titulo p{
	color: #333333;
	font-family: UbuntuRegular;
	font-size: medium;
	font-style: normal;
	text-align: justify;
	float: right;
}
.conteudo-titulo{
	max-width: 595px;
	margin-left: auto;
	margin-right: auto;
}

.corpo-perguntas{
	margin-top: 12%;

}

.box-pergunta{
	background: url('../img/bg-subtitulo-simulado.png') repeat-x;
	background-color: #dee0e0;
	margin: 0 auto;
}

.conteudo-pergunta{
	max-width: 595px;
	margin: auto;
	font-size: 16px;
}

.box-pergunta p{
	color: #333333;
	font-family: UbuntuRegular;
	font-size: 0.8rem;
	font-style: normal;
	text-align: justify;
	padding: 1.5em 1em 1em 1em;
	line-height: 1.5em;
}

.box-resposta{
	background-color: #e9eaed;
	margin: 0 auto;
	margin-top: -1%;

}

.conteudo-resposta{
	max-width: 595px;
	margin: auto;
	font-size: 16px;
	position: relative;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
}

.box-resposta p{
	color: #333333;
	font-family: UbuntuRegular;
	font-size: 0.8rem;
	font-style: normal;
	text-align: justify;
	margin-left: 1%;
	line-height: 1.5em;
	padding: 0em 1em 0em 4em;
}


.box-resposta li{
	float: left;
	width: 100%;
}
.escolha-simulado{
	float: left;
	margin-left: 10px;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

.escolha-simulado img{
	width: 30px;
	margin-top: 1%;
}


.selecionado{
	background-color: #a3d2f2;
}

.botao-avancar{
	background-color: #0099ff;
	float: right;
	color: #fefefe;
	font-family: UbuntuRegular;
}

.botao-avancar img{
	width: 8%;
	max-width: 45px;
	margin-top: 1%;
}

.relogio-simulado{
	max-width: 595px;
	margin: auto;
	height: 50px;
}
.relogio-simulado img{
	width: 5%;
	max-width: 40px;
	min-width: 16px;
	margin-left: 2%;
	margin-bottom: 2%;
	float: left;
}

.relogio-simulado span{
	color: #0099ff;
	font-family: UbuntuRegular;
	font-size: 100%;
	float: left;
	margin-left: 1%;

}
.box-fases{
	padding-right: 1em;
	padding-left: 1em;
}

.logo-simulado{
	width: 10%;
	bottom:0;
}

.questao-simulado{
	width: 22%;
	bottom: 0;
	float: right;
}

.titulo-simulado {
	width:20%;
	bottom: 0;
	top: 0;
	margin-right: 1%;
}

.vida-simulado {
	width: 4%;
	margin-left: 0.5%;
}

.msg-resposta {
	margin-right: auto;
	margin-left: 22%;
	position: relative;
	width: 60%;
}

.font14{
	font-family: UbuntuRegular;
	font-size: 14px;
}

/********************** Tipografia, cores e fundos / Reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  font: 1em/150% Arial, Helvetica, sans-serif;
  background: #000000;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

h1 {
  font: 36px/100% Arial, Helvetica, sans-serif;
  text-align: center;

}
h2 {
  font: bold 14px/100% Arial, Helvetica, sans-serif;
  text-align: left;
  color: #fff;

}
ul {
  list-style: none;
}

@font-face {
    font-family: UbuntuLight;
    src: url(Ubuntu-L.ttf);
}
@font-face {
    font-family: UbuntuBold;
    src: url(Ubuntu-B.ttf);
}
@font-face {
    font-family: UbuntuRegular;
    src: url(Ubuntu-R.ttf);
}


.pontos {
	font-family: UbuntuLight;
	font-size: 1.5em;
	background-image: -webkit-gradient(linear,
	left top, left bottom,from(rgba(0, 0, 0, 1)),to(rgba(0, 0, 0, 0.2)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
};
/********************** Pag-2 */
#vida-loading {}
#perguntas { clear: both; padding-top: 5px; }

.egg { max-width: 95%; }

/* Bloco de Vidas */
#vida { }
#vida li { float: left; display: block; width: 13%; margin-right: 1%; }
#vida li img { max-width: 95%; margin-top: 30%;}

/* Bloco de Loading */
#loading {}
#loading li.next { background: #0099FF; float: left; display: block; width: 4%; margin-right: 2px; min-height: 1em; }
#loading li.past { background: #CC0E5A; float: left; display: block; width: 4%; margin-right: 2px; min-height: 1em; }


/* Ferramentas */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left,
.left         { float:left !important; }
.f-right,
.right        { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.no-bg        { background:none !important; }
.no-border    { border:none !important; }
.c-both       { clear: both !important; }
.visibility   { visibility: collapse; }

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 0px 0px;
    padding:5px 5px 5px 5px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}

.box img{
	width: 70%;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.ranking{
	max-width: 590px;
	margin: 0 auto;
	min-height: 72px;
}

.ranking p{
	font-size: 12px;
	color: #0099ff;
	font-family: UbuntuLight;
	float: right;
	margin-left: 10px;
}

.ranking strong{
	position: relative;
	float: left;
	color: #0099ff;
	font-family: UbuntuRegular;
	font-size: 12px;
	text-align: center;
	float: left;
}

.ranking h2{
	color: #666666;
	font-family: UbuntuLight;
	font-size: 20px;
	float: left;
	margin-right: 10px;
}

.ranking a{
	background: rgba(237,237,237,1);
	background: -moz-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=1 );
	min-height: 0;
}

.ranking img{
	width: 30%;
}

